* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 100px 0;
}

.flex {
    display: flex;
}

.primo {
    justify-content: space-between;
    align-items: center;

}

.container {
    margin: 0 auto;
    height: 100%;
    width: 1300px;
    border: dashed black 2px;


}

img {
    max-width: 100%;
    vertical-align: bottom;
}

.area-link ul {
    list-style-type: none;
    display: inline-block;

}

.area-link li {
    display: inline;
    list-style: none;

}

nav {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    border: dashed black 2px;
    height: 80px;
    margin: auto;

}

header {
    /*     height: 100vh;
 */
}

.right,
.left {

    border: dashed black 2px;

}

.right {
    flex-basis: 60%;
}

.left {
    flex-basis: 40%;
}

.row {
    width: 100%;
    flex-wrap: wrap;
    border: dashed #0000ff 3px;
    gap: 30px;
}

.col {
    flex-basis: calc(100% / 3 - 60px / 3);
    border: dashed #ff0000 3px;
}

.col.full {
    flex-grow: 1;
}