/* Custom Properties*/
:root {
    --elfin-games: #a2d39b;
    --plum-cheese: #61082B;
    --tomb-blue: #0093ce;
    --red: #ff0000;
    --Featherbed: #b4d0e7;
    --dark-blue: #0D2481;
    --yellow: #ffff00;
    --light-grey: lightgrey;
    --grey: grey;
    --blue: #0061FF;
}

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 18px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* Generics */


h1 {
    font-size: 4rem;
    font-weight: 800;
}

h2 {
    font-size: 2.2rem;
    margin: 60px 0;
}

h3 {
    font-size: 1.5rem;
}

ul {
    list-style-type: none;

}

li {
    margin-bottom: 15px;
}


a {
    color: #000000;
te
}

/* Utils */
.flex {
    display: flex;
}

.text-align {
    text-align: center;
}

.container {
    margin: 0 auto;

    max-width: 1300px;

}

.small-container {
    height: 300px;
    max-width: 1300px;
    margin: 70px auto;
}

.img-fluid {
    max-width: 100%;
    display: block;
}

.text-decoration {
    text-decoration: underline var(--blue);
    color: var(--blue);
}

/* Layout */
.row {
    display: flex;
    flex-direction: row;
}

.wrap {
    flex-wrap: wrap;
}

.col-70 {
    flex-basis: 70%;
}

.col-30 {
    flex-basis: 30%;
}


.col.full {
    flex-grow: 1;
}

.gap {
    gap: 40px;

}

.border {
    border: 1px solid var(--light-grey);

}

.border-radius {
    border-radius: 100%;
    display: inline-block;
    vertical-align: bottom;
}

.border-radius.blue {

    padding: 5px;
    border: solid 5px #0061FF;
}

.border-radius.grey {
    border: solid 2px #d4d4d4;
    padding: 8px;
}

/* Buttons */
.btn-big {
    background-color: #0061FF;
    padding: 10px 15px;
    color: #ffffff;
    display: inline-block;
    margin: 35px 0;
}

.btn-large {
    background-color: #0061FF;
    padding: 10px 0;
    color: #ffffff;
    display: inline-block;
    margin: 35px 0;
    width: 100%;
    text-align: center;
}

.btn-small {
    background-color: #0061FF;
    padding: 5px 10px;
    color: #ffffff;
    display: block;
}

/* Spacing */
.w-110 {
    width: 110px;
}

.w-60 {
    width: 60px;
}

.mr-40 {
    margin-right: 30px;
}

.mb-50 {
    margin-bottom: 50px;
}

.m-50 {
    margin: 50px 0;
}

.mb-70 {
    margin-bottom: 70px;
}

.p-70 {
    padding: 70px;

}

.mt-30 {
    margin-top: 30px;
}

.mt-90 {
    margin-top: 90px;
}

.pl-50 {
    padding-left: 50px;
}

.m-10 {
    margin: 0 10px;
}

.p-40 {
    padding: 40px;
}

.p-10 {
    padding: 10px 0
}

.m-30 {
    margin: 30px 0;

}

.mt-50 {
    margin-top: 50px;
}

/* heading */
#nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#nav-menu .navbar {
    height: 100%;
    display: flex;
    align-items: center;
    gap: 30px;

}

#nav-menu {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 80px;
    background-color: #ffffff;
    padding: 0 40px;

}

.fa-arrow-down {
    font-size: 3.5rem;
    margin-top: 50px;
}

section {
    margin: 50px;
}

/* plans list */
#plan-pricing-list .col,
#features-list .col {
    flex-basis: calc(100% / 3 - 80px / 3);

}

.fas.fa-building {
    text-align: center;
}

.plan-comparison li {
    display: flex;
    gap: 5px;
    align-items: baseline;
}



.col-customer {
    height: calc(100vw / 3);
    width: calc(100vw / 3);
}


/* features  */
#features-list .col>p {
    margin-top: 30px;
}




/* custumers */
.col-customer.left,
.col-customer.right {
    flex-wrap: wrap;
    display: flex;

}

.col-customer.left div,
.col-customer.right div {
    height: 50%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;


}

.col-customer img {
    filter: invert(1);
}

.col-customer a {
    display: inline-block;
    width: 70%;
}

.col-customer.central img {
    filter: invert(0);
}

/* color palette */
.bg-c.elfin-games {
    background-color: var(--elfin-games);
}

.bg-c.plum-cheese {
    background-color: var(--plum-cheese);
}

.bg-c.tomb-blue {
    background-color: var(--tomb-blue);
}

.bg-c.red {
    background-color: var(--red);
}

.bg-c.featherbed {
    background-color: var(--Featherbed);
}

.bg-c.dark-blue {
    background-color: var(--dark-blue);
}

.bg-c.yellow {
    background-color: var(--yellow);
}

.c-grey {
    color: var(--grey);
}

.c-blue {
    color: var(--blue)
}

.bg-c.black {
    background-color: #000000;
}

/* footer nav bar */
footer a {
    color: #ffffff;
}

.nav-footer {
    justify-content: space-between;

}